body {
	background-color : lightgray;
}

h1{
	color : blue;
	font-size : 60px;
	font-family : "Comic Sans MS"; 
}	

p{
	color : red;
	font-size : 30px;
	font-family : "Calibri";
}

p{
	color : red;
	font-size : 30px;
	font-family : "Calibri";
	text-align : center;
}

img{
	border :black solid 3px;
}

table {
	border-collapse : collapse;
	width : 100%;
  }
  
  th, td {
	padding : 10px;
	border : lightcoral solid 1px;
  }
  
  tr:nth-child(even) {
	background-color : lightpink;
  }
  
  tr:hover {
	background-color : lightblue;
  }

  .molemad {
	display: flex;
  }
  
  .veerg {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
  }
  
  .veerg:not(:last-child) {
	border-right: 1px solid #ddd;
  }